@import '~@angular/material/theming';
@include mat-core();

@import '../../variables.scss';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.container {
  display: flex;
  flex-direction: column;
  width: 61.8%;

  mat-chip-list {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 731px) {
  div.container {
    width: 95%;
  }

  #submit-button {
    right: 9% !important;
    bottom: 5% !important;
  }

}

.loader {
  display: flex;
  flex-direction: row;
}

#submit-button {
  position: fixed;
  z-index: 9899;
  bottom: 7%;
  right: 19%;
}

mat-chip {
/*   background-color: white !important;
  border: 1px solid mat-color($novlin-light-primary);
  color: mat-color($novlin-light-primary) !important; */

  &:hover {
    cursor: pointer;
  }
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
