:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.container {
  display: flex;
  flex-direction: column;
  width: 61.8%;

  mat-chip-list {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 731px) {
  div.container {
    width: 95%;
  }

  #submit-button {
    right: 9% !important;
    bottom: 5% !important;
  }

}

.loader {
  display: flex;
  flex-direction: row;
}

#submit-button {
  position: fixed;
  z-index: 9899;
  bottom: 7%;
  right: 19%;
}