<div class="container">
  <h1>Choose at least 3 Topics</h1>
  <mat-chip-list #chipList="matChipList" class="mat-chip-list" aria-orientation="horizontal" *ngIf="interest$ | async;let interests; else loading"
    selectable="true" multiple>
    <mat-chip color="primary" (click)="selectInterest(i)" (keydown.enter)="selectInterest(i)" (keydown.space)="selectInterest(i)" *ngFor="let interest of interests; let i = index"
      tabindex="{{i}}">{{interest?.id | uppercase}}</mat-chip>
  </mat-chip-list>
  <ng-template #loading>
    <div class="loader">
      <mat-spinner diameter="50" mode="indeterminate"></mat-spinner>
    </div>
  </ng-template>
  <button id="submit-button" (click)="setInterests()" [disabled]="disabled" mat-fab><mat-icon>arrow_forward</mat-icon></button>
</div>
        