:host,
div.container {
  height: 100%;
  width: 100%;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-button {
  position: fixed;
  bottom: 4.7%;
  right: 28%;
  z-index: 9999999;
}
