@import "~@angular/material/theming";
:host,
div.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth-buttons {
  height: 200px;
  width: 200px;
  mat-icon {
    transform: scale(4, 4);
  }
}

// .google {
//   height: 100vmin;
//   width: 100vmin;
//   background: #6020ea;
//   border-radius: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   @include mat-elevation(8);
// }
