<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side" [opened]="sidenavOpened">
    <mat-nav-list>
      <button mdc-fab [extended]="fabExtended" color="primary" icon="create"></button><br><br><br>
      <!-- <button mdc-button (click)="fabExtended = ! fabExtended">io</button>
      < -->
      <button mdc-icon-button icon="explore"></button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="container" (scroll)="toggleToolbar($event)">
    <app-universal-progress id="progressBar"></app-universal-progress>
    <!-- <button (click)="appBarState = appBarState == 'visible' ? 'hidden' : 'visible'">Hello</button> -->
    <mat-toolbar [ngStyle]="styles.appBar" [@appearence]="appBarState" [style.transform]="'translateY(100%)'" id="app-bar"
      color="" #appBar>
      <mat-toolbar-row #titleRow>
        <button *ngIf="false" [matTooltip]="'Site Menu'" mat-icon-button (click)="adaptiveAction()">
          <mat-icon *ngIf="iconHidden">{{icon}}</mat-icon>
          <mat-icon *ngIf="!iconHidden">clear</mat-icon>
        </button>
        <span *ngIf="iconHidden">{{title}}</span>
        <span *ngIf="!iconHidden">Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" id="container-card"> -->
    <router-outlet #o="outlet"></router-outlet>
    <app-fab></app-fab>
  </mat-sidenav-content>
</mat-sidenav-container>
