@import "~@angular/material/theming";
.sidenav-container {
  height: 100%;
  background: white;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

$border-radius: 8px;

#app-bar {
  background: white;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  @include mat-elevation(8);

}

#app-bar span {
  font-family: 'Roboto';
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  #app-bar {
    width: 100%;
    border-radius: 0;
  }
  app-fab {
    bottom: 29px !important;
  }
}

app-fab {
  position: fixed;
  z-index: 1618;
  bottom: 37px;
  left: 50%;
  margin-left: -24px;
}

#progressBar {
  position: fixed;
  z-index: 9997;
  width: 100%;
}
