@import "theme.scss";
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,500|Material+Icons');
body,
html {
  margin: 0;
  height: 100%;
  background: white;
  font-family: 'Roboto', serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Pacifico';
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::selection {
  background: rgba(98, 0, 238, 0.25);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(98, 0, 238, 0.25);
  /* Gecko Browsers */
}


router-outlet ~ * {
  position: absolute;
  flex-grow: 1;
  width: 100%;
}


$mdc-theme-primary: #6300ee; // change primary color example
$mdc-theme-secondary: #6300ee; // change secondary color example

@import "~@angular-mdc/theme/material";