@import "theme.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500|Material+Icons');
body,
html {
  margin: 0;
  height: 100%;
  background: white;
  font-family: 'Roboto', serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Roboto Slab';
}
